.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdf2e9;

    /*
        For sticky header
    */
    height: 9.6rem;
    padding: 0 4.8rem;
}

.logo {
    height: 2.4rem;
}

